@{
    ViewBag.Title = "Index";
}
<script src="~/Admin/Pages/jquery-1.11.1.js"></script>
<script src="~/Admin/Pages/OrderForm.js"></script>
<link href="~/Admin/css/bootstrap.css" rel="stylesheet" />

<h2>Index</h2>
<body>
    <div>
        <table id="tbl_OrderForm" border="1">
            <thead>
            <th>Id</th>
            <th>Customer_Name</th>
            <th>Contact_Number</th>
            <th>Delivery_Address</th>
            <th>Quantity</th>
            <th>Payment_Method</th>
            <th>Total</th>

            </thead>
            <tbody></tbody>
        </table>

    </div>
</body>
